# Week 1 Assignment

Rishav Chaudhary

Presidential Graduate School, Kathmandu, Nepal

Prof. Tek Raj Pant

October 27, 2024

### Introduction
Python Programming Language is the programming language that is most widely and mostly used in case of data and development. This paper discusses the use of Jupyter Notebook, Python and Python Basic command to write down the Python program starting from "Hello World" program.

### Installation
The Installation python started from installing python using command "sudo dnf install python3", and checking version as "python3 --version". Then, by creating a virtual environment by using command "python3 venv .venv", the virtual environment was created. Then, the using pip, we installed matplotlib, seaborn, pandas, numpy, scikit learn packages inside the virtual environment. Then, we also installed the jupyterlab, which is the notebook where we can code, execute code and create markdown files.

### Summary of the Week
On Day1, we created first hello world program. The variables declaration was discussed. The python datatypes were also discussed. The python execution of file from '.py' to the interpreter changing to the byte code '.pyc' and its syntax checking was discussed.

On Day2, we understood python syntaxes and data types. Indexing was done and f"" string literal was also used. On Day3, control flow statements like if...else was discussed where we can perform certain command, if the condition we stated values "True". 

On Day3, we learned about the loop statement, particularly "while" statement. The while statement is does iterations repetedly until and unless the conditions values "False". We even used conditional statements inside the loop statement.

On Day4, the "for" statement is learned. It is the looping statement. It iterates over iteratable item like list or dictionaries. It also iterates over range function. In each iteration, the temporary variable stores the value in sequence. And, through it we can print it and do certain activities.

## This is my first hello world program in python

In [23]:
# printing hello world

hello = "hello world"
print(hello) # printing first hello world program

hello world

## Day 2: Understanding Python's Elegant Syntax

- Indentation: Tab
- Variable Declaration: a = ""
- Comments: #
- Whitespace Sensitivity: 

### Python Variables

if a variable is declared, like name = "ram"
it is converted with ASCII(0-108) to binary, and stored in the memory address (here, 8 GB).

The memory is connected to the CPU through the Data Bus.

later, on we can access the memory address.

From there, we can access the value and use it for computation.

Python works with a model of references to objects. works with mechanism called Automatic Memory Management.

### Python Data Types

#### Text-Data-Type
- str
#### Number
- int
- float
- imaginary: 1i or 1j
#### Boolean
- bool
#### Sequence
- list - mutable, and ordered, indexed
- dict - key-value pair, ordered
- set - immutable, not duplicated value, ordered

#### None
- Null - value not exist

double divided by // gives: divide with integral result (discard remainder): floor division

5//2 = 2 is equivalent to js .floor() method.

In [2]:
# Discussion on Arithmetic Operators, Data types, and concatenation, indexing, and multiline string ''' '''.

full_name = "Rishav Chaudhary"
address = "Gothatar, Kathmandu, Nepal"

first_name = full_name[:6] # The last index is not counted
last_name = full_name[7:]
city = address[10:19]
country = address[21:]
full_name_length = len(full_name)
last_char_first_name = first_name[len(first_name)-1] 

print(f"Full name: {full_name}")
print(f"Address: {address}")
print(f"first name: {first_name}\nlast name: {last_name}\ncity: {city}\ncountry: {country}")
print(f"The length of full name is {full_name_length} characters.")
print(f"The last character of the first name is '{last_char_first_name}'.")

# For Concatenation we can just use '+', but it will not include space

# Upper
capitalized_name = full_name.upper()
print(f"The full name in capitalized is '{capitalized_name}'.")

# Lower
lowercase_name = full_name.lower()
print(f"The full name in lower is '{lowercase_name}'.")

Full name: Rishav Chaudhary
Address: Gothatar, Kathmandu, Nepal
first name: Rishav
last name: Chaudhary
city: Kathmandu
country: Nepal
The length of full name is 16 characters.
The last character of the first name is 'v'.
The full name in capitalized is 'RISHAV CHAUDHARY'.
The full name in lower is 'rishav chaudhary'.

## Day 3: Control Flow

- **conditional statements:** if...elif...else...
- break...continue
- **loops:** for, while

In [8]:
a = 5
b = 10
if a > b:
    print(f"'a' whose value is {a} is greater than 'b' whose value is {b}")
elif a < b:
    print(f"'b' whose value is {b} is greater than 'a' whose value is {a}")
else:
    print("'a' and 'b' has equal value that is {a}")

'b' whose value is 10 is greater than 'a' whose value is 5

In [17]:
time = int(input("Enter time: "))

# 10 -> "Math"
# 12 -> "DSA"
# 15 -> "English"

if time >= 10 and time < 12:
    print("It's time for Math.")
elif time >= 12 and time < 14:
    print("It's time for DSA.")
elif time >= 14 and time < 15:
    print("It's' break time.")
elif time >= 15:
    print("It's time for English.")
else:
    print("Just started the day.")

Just started the day.

## Loops
- While
- For

In [18]:
# While

# Importing sleep function from time module
from time import sleep

counter = 1
while counter <= 20:
    print(f"counter {counter}")
    counter += 1
    sleep(1) # It holds by time in parameter. Here, in seconds

counter 1
counter 2
counter 3
counter 4
counter 5
counter 6
counter 7
counter 8
counter 9
counter 10
counter 11
counter 12
counter 13
counter 14
counter 15
counter 16
counter 17
counter 18
counter 19
counter 20

In [32]:
# Find the sum of first n=100 natural numbers using while loop
n = 100
number = 1
sum = 0
while number <= n:
    sum += number
    number += 1
print(f"sum of first n=100 natural numbers using while loop is {sum}")

sum of first n=100 natural numbers using while loop is 5050

In [30]:
# Find the sum of first n even number , n=100 using while loop

n = 100
counter = 1
sum_of_even = 0
sum_of_odd = 0
while counter <= n:
    if counter%2 == 0:
        sum_of_even += counter
    else:
        sum_of_odd += counter
    counter += 1
print(f"Sum of even: {sum_of_even}")
print(f"Sum of odd: {sum_of_odd}")

Sum of even: 2550
Sum of odd: 2500

## Day4: For

In [2]:
# printing 0 to 10
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
# printing even number between 0 to 10:

for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [5]:
# printing the even number from the list
list1 = [2, 3, 4, 5, 7, 9, 7]

for i in list1:
    if i%2 == 0:
        print(i)

2
4