# Week 2 Assignment

Rishav Chaudhary

Presidential Graduate School, Kathmandu, Nepal

PRG 330: Python Programming

Prof. Tek Raj Panta

November 2, 2024

## Data Manipulation With Pandas

### Gaining Insight from predata

In [36]:
import pandas as pd

''' Reading the csv files into the Dataframe
, and storing it into the employees variable'''

employees = pd.read_csv("Employees.csv")
print(employees.head()) # Here, first few rows are printed

   No First Name Last Name  Gender Start Date  Years          Department  \
0   1     Ghadir     Hmshw    Male   4/4/2018      6     Quality Control
1   2       Omar    Hishan    Male  5/21/2020      4     Quality Control
2   3      Ailya    Sharaf  Female  9/28/2017      7  Major Mfg Projects
3   4       Lwiy     Qbany    Male  8/14/2018      6       Manufacturing
4   5      Ahmad     Bikri    Male  3/11/2020      4       Manufacturing

                Country Center  Monthly Salary  Annual Salary  Job Rate  \
0                 Egypt   West            1560          18720       3.0
1          Saudi Arabia   West            3247          38964       1.0
2          Saudi Arabia   West            2506          30072       2.0
3  United Arab Emirates   Main            1828          21936       3.0
4                 Egypt   Main             970          11640       5.0

   Sick Leaves  Unpaid Leaves  Overtime Hours
0            1              0             183
1            0              5             198
2            0              3             192
3            0              0               7
4            0              5             121

In [29]:
''' Gives the information regarding the column name,
their non-null counts and Dtypes'''
print(employees.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No              689 non-null    int64
 1   First Name      689 non-null    object
 2   Last Name       689 non-null    object
 3   Gender          689 non-null    object
 4   Start Date      689 non-null    object
 5   Years           689 non-null    int64
 6   Department      689 non-null    object
 7   Country         689 non-null    object
 8   Center          689 non-null    object
 9   Monthly Salary  689 non-null    int64
 10  Annual Salary   689 non-null    int64
 11  Job Rate        689 non-null    float64
 12  Sick Leaves     689 non-null    int64
 13  Unpaid Leaves   689 non-null    int64
 14  Overtime Hours  689 non-null    int64
dtypes: float64(1), int64(7), object(7)
memory usage: 80.9+ KB
None

#### Explanation
After analyzing the output, we can know that there are three additional table inside a single dataframe. One regarding the employees name, gender, their start date, years and their respective department in employee id.

Second, there is the table regarding the country, their center, annualy salary, and Job Rate. The third is regarding the leaves and overtime hours.

employees.info() will provide us with the column name which are First Name, Last Name, Gender, Start Date, Years, Department, Country, Center, Monthly Salary, Annual Salary, and many more. We can know the count of the non-null object and here there are no null object. The Datatypes of each are either int, object or float.

### Filtering Data

In [39]:
# To filter based on high_salary
high_salary = employees[employees['Monthly Salary'] > 3000]
print(high_salary)

      No First Name        Last Name  Gender  Start Date  Years  \
1      2       Omar           Hishan    Male   5/21/2020      4
7      8    Muhamad            Alaya    Male   2/10/2018      6
13    14     Iilian              Dbs  Female    3/1/2016      8
16    17     Sandra      Aljurmqaniu  Female   5/27/2016      8
24    25    Muhamad          Altarah    Male  12/13/2020      3
..   ...        ...              ...     ...         ...    ...
668  669       Hind      Almueasaeas  Female    5/5/2019      5
672  673    Muhamad  Sharif Aldaghly    Male    1/4/2018      6
673  674      Emara        bwalsibae  Female    3/1/2018      6
679  680     Alysia       Alyaghshiu  Female  10/19/2019      5
685  686    Eubayda             Kayd    Male    6/3/2020      4

                 Department               Country Center  Monthly Salary  \
1           Quality Control          Saudi Arabia   West            3247
7        Account Management                 Egypt   Main            3394
13   Facilities/Engineering  United Arab Emirates  North            3404
16       Account Management          Saudi Arabia   West            3149
24                       IT                 Egypt  North            3044
..                      ...                   ...    ...             ...
668  Facilities/Engineering          Saudi Arabia  North            3389
672                      IT                 Egypt   West            3257
673  Facilities/Engineering                 Egypt  South            3026
679                Training  United Arab Emirates   West            3334
685  Facilities/Engineering                 Egypt  North            3237

     Annual Salary  Job Rate  Sick Leaves  Unpaid Leaves  Overtime Hours
1            38964       1.0            0              5             198
7            40728       5.0            0              0               7
13           40848       5.0            1              0               8
16           37788       4.5            0              0              93
24           36528       3.0            6              0              94
..             ...       ...          ...            ...             ...
668          40668       3.0            1              0               7
672          39084       3.0            0              0               6
673          36312       3.0            4              0               1
679          40008       1.0            0              0               4
685          38844       3.0            1              0               4

[105 rows x 15 columns]

#### Explanation

We can know from here, that the above mentioned people in and above mentioned department has high salary.

### Grouping Datas by 'Department' and finding out total 'Monthly Salary' in each department

In [40]:
grouped_salary = employees.groupby('Department')['Monthly Salary'].sum()

print(grouped_salary)

Department
Account Management             162722
Creative                        38215
Environmental Compliance        32606
Environmental Health/Safety     18004
Facilities/Engineering         132546
Green Building                  16663
Human Resources                 17891
IT                              84581
Major Mfg Projects              17939
Manufacturing                  280649
Manufacturing Admin              9605
Marketing                       98934
Product Development             66800
Professional Training Group     28566
Quality Assurance              139623
Quality Control                182802
Research Center                  9435
Research/Development            10493
Sales                           39129
Training                        37788
Name: Monthly Salary, dtype: int64

#### Explanation
Here, we are finding out the total sum of monthly salary by department. In Above code, we just grouped data by using .groupby method with Department as the column name specified.

Now, we only wanted the monthly salary, so we filtered the monthly salary column, in the grouped data and took its sum. Here, we can find out that Manufacturing department has the highest monthly salary sum. But this can be due to the fact that Manufacturing Department may have high number of employees or do have few employees with higher monthly salary.

### Aggregation Function

In [41]:
# Grouping by 'Deparment' and using agg function

summary_result = employees.groupby('Department').agg({
    'Monthly Salary': 'sum',
    'Annual Salary': 'mean',
    'Overtime Hours': 'max'
})
''' Here, we are using the aggregate functions to find
out the sum of monthly salary by each department,
average annual salary by each department,
and maximum overtime hours by each deparment'''

print(summary_result)

                             Monthly Salary  Annual Salary  Overtime Hours
Department
Account Management                   162722   23246.000000             153
Creative                              38215   24135.789474              87
Environmental Compliance              32606   30097.846154              48
Environmental Health/Safety           18004   24005.333333               8
Facilities/Engineering               132546   27423.310345              85
Green Building                        16663   24994.500000             105
Human Resources                       17891   30670.285714              51
IT                                    84581   25374.300000              94
Major Mfg Projects                    17939   26908.500000             192
Manufacturing                        280649   24055.628571             121
Manufacturing Admin                    9605   23052.000000             109
Marketing                             98934   24733.500000              74
Product Development                   66800   23576.470588              15
Professional Training Group           28566   24485.142857              80
Quality Assurance                    139623   25007.104478             148
Quality Control                      182802   24647.460674             198
Research Center                        9435   22644.000000               8
Research/Development                  10493   25183.200000               5
Sales                                 39129   23477.400000             116
Training                              37788   28341.000000             111

#### Explanation
The aggregate function is used if we want to apply more than two functions in a single or multiple column. Here, we can see, the max, mean, and sum is used in different columns to find out the insight regarding each deparment. The Manufacturing Deparment has highest sum of monthly salary, Environmental compliance has the highest average annual Salary give to its employee, and Quality Control has highest overtime hours of a employee that is 198 hours per annum.